<div class="dashboard">
    <div class="page-title">
        <h1><?php echo $this->__('Pricing Tables') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml(); ?>
    <select id="pricing-table-select">
        <?php foreach ($this->getCategories() as $id => $name): ?>
            <option value="<?php echo $id; ?>"<?php echo $this->getDefaultCat() == $id ? ' selected="selected"' : '';?>><?php echo $name; ?></option>
        <?php endforeach; ?>
    </select>
    <table class="data-table" id="pricing-table">
        <thead>
            <tr class="first last">
                <th class="name">Name</th>
                <th class="gtin">GTIN</th>
                <th class="sku">SKU</th>
                <th class="rrp">RRP<small class="highlight">(inc VAT)</span></th>
                <th class="price">Your Price<small class="highlight">(ex VAT)</span></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php echo $this->getCategoryProductsHtml(); ?>
        </tbody>
    </table>
</div>

<style>
    .page-title {
        float: left;
    }
    #pricing-table-select {
        float: right;
    }
    #pricing-table {
    }
    #pricing-table tbody tr:nth-of-type(odd) {
        background: #efefef;
    }
    #pricing-table thead th small.highlight {
        display: block;
        font-size: 10px;
    }
    a.cta:after {
        text-transform: initial;
    }
</style>

<script>
    $j('#pricing-table-select').change(function(){
        var id =  $j(this).val();
        $j.ajax({
            url: '/pricemgr/account/pricingtable/cat/' + id
        }).done(function(xhr){
            $j('#pricing-table tbody').html(xhr);
        });
    })
</script>