<?php foreach ($this->getData('prices') as $product): ?>
    <tr>
        <td class="name"><?php echo $product['name']; ?></td>
        <td class="gtin"><?php echo $product['gtin']; ?></td>
        <td class="sku"><?php echo $product['sku']; ?></td>
        <td class="rrp">£<?php echo number_format($product['rrp'], 2) ?: '0.00'; ?></td>
        <td class="price">£<?php echo number_format($product['price'], 2); ?></td>
        <td><a class="cta" href="<?php echo $product['link']; ?>">View Product</a></td>
    </tr>
<?php endforeach; ?>